.navbar{
    background-color: blue;
    height: 10vh;
    margin-bottom: 10vh;
}
.navbar.a{
    margin-bottom: 0;
}
.navbar-brand {
    font-size: 60px;
    font-weight: bold;
    color: white;
    transition: .2s all linear;
    line-height: 0;
    margin-right: 30px;
}
.navbar-brand:hover, .nav-link:hover{
    transform: scale(1.05);
    color: #ffffff;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border:  2px solid #ffffff;
    border-radius: 5px;
}
.nav-link.b{
    border: none;
}
.slider{
    height: 90vh;
    background-image: url('run.jpg');
}
.slider__text{
    width: 50vw;
    padding: 15vh 0 0 5vw;
}
.slider__text h5{
    font-size: 60px;
    color: #2f2b2b;
}
a{
    margin-right: 30px;
}
.col-4{
    margin: 0 auto;
    text-align: center;
}
.btn-danger{
    margin-right: 0px;
}
.wrap{
    display: flex ;
    flex-wrap: wrap;
}
.card{
    margin: 0 15px 5vh;
    text-align: justify;
}
.btn.a{
    border: 0px solid transparent;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    transition: .2s linear;
    cursor: pointer;
}
.btn.a:hover{
    transform: scale(1.05);
}
.activity_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}
.col-6{
    margin: 0 auto;
    text-align: center;
}
.col-6 h1{
    margin-bottom: 50px;
}
.btn.a.b {
    margin-top: 30px;
}
.circle{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
}
.avatar{
    width: 100%;
    height: 100%;
}
.is-primary{
    margin-top: -10vh;
}