*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    box-sizing: border-box;
    background-color: #ffffff;
}

.container{
    width: 70vw;
    margin: auto;
    font: 600 30px 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center;
}


  p {
    text-overflow: ellipsis; /* will make [...] at the end */
    width: 260px; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
    }
