*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: none;
    box-sizing: border-box;
    background-color: #ffffff;
}

.container{
    width: 70vw;
    margin: auto;
    font: 600 30px 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center;
}

