{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <div class="activity_top">
            <div class="activity_title"><h1>All activity</h1></div>
            <div class="activity_btn"><a href="{% url 'create' %}">
                <button class="btn a">Add activity</button>
            </a></div>
        </div>
        <div class="row">
            <div class="wrap">

                {% for i in activity %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="25"
                                     height="25" fill="currentColor"
                                     class="bi bi-bar-chart"
                                     viewBox="0 0 16 16">
                                    <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                                </svg>
                                <h3 class="card-text"> {{ i.user }}</h3>
                                <h3 class="card-title"> {{ i.name_activity }}</h3>
                                <p class="card-text"> {{ i.rout_length }}
                                    km</p>
                                <p class="card-text"> {{ i.duration }} min</p>
                                <p class="card-text"> {{ i.calories }} ccal</p>
                                <p class="card-text"> {{ i.date }}</p>
                                <p class="card-text"> {{ i.all_length }}km all
                                    the time</p>
                                <p class="card-text"> {{ i.all_duration }}min
                                    all
                                    the time</p>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>





{% endblock %}