{% extends 'base.html' %}

{% block content %}

<body>

            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                <div class="mb-3">
                            <h1>Add activity for {{ user.username }}</h1>

                    <label for="username" class="form-label"></label>
                      <input name="username" type="text" class="form-control" id="username" placeholder="username" value="{{ user.username }}">


                    <label for="name_activity" class="form-label"></label>
                      <input name="name_activity" type="text" class="form-control" id="name_activity" placeholder="name activity">


                    <label for="duration" class="form-label"></label>
                      <input name="duration" type="text" class="form-control" id="duration" placeholder="duration">


                    <label for="rout_length" class="form-label"></label>
                      <input name="rout_length" type="text" class="form-control" id="rout_length" placeholder="rout length">


                    <label for="date" class="form-label"></label>
                      <input name="date" type="date" class="form-control" id="date" placeholder="date">

                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                    </div>
            </div>
            </form>
</body>

{% endblock %}