{% extends 'base.html' %}

{% block content %}
    <body>

    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Форма для редактирования данных
                        пользователя {{ user.username }}</h1>
                </div>

                <div class="row">
                    <div class="col-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input name="username" type="text"
                                       class="form-control" id="username"
                                       placeholder="enter username"
                                       value="{{ user.username }}">
                            </div>

                            <div class="mb-3">
                                <label for="country" class="form-label">Country
                                    from</label>
                                <input name="country" type="text"
                                       class="form-control" id="country"
                                       placeholder="Enter country"
                                       value="{{ user.profile.country }}">
                            </div>

                            <div class="mb-3">
                                <label for="weight" class="form-label">My
                                    weight, kg</label>
                                <input name="weight" type="text"
                                       class="form-control" id="weight"
                                       placeholder="weight"
                                       value="{{ user.profile.weight }}">
                            </div>

                            <div class="mb-3">
                                <label for="height" class="form-label">My
                                    height, cm</label>
                                <input name="height" type="text"
                                       class="form-control" id="height"
                                       placeholder="height"
                                       value="{{ user.profile.height }}">
                            </div>

                            <div class="mb-3">
                                <label for="birth_date" class="form-label">birth
                                    date</label>
                                <input name="birth_date" type="date"
                                       class="form-control" id="birth_date"
                                       placeholder="birth_date"
                                       value="{{ user.profile.birth_date }}"
                                       required>
                            </div>

                            <div class="mb-3">
                                <label for="{{ profile.avatar }}"
                                       class="form-label">avatar</label>
                                <input name="avatar" type="file"
                                       class="form-control" id="avatar"
                                       placeholder="avatar">
                            </div>


                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
    </form>
    </body>

{% endblock %}